In [51]:
import cobra

In [52]:
from cobra import Model,Reaction,Metabolite

In [53]:
model=Model('Model 1 ')

In [54]:


####### ALL REACTIONS IN MODEL ######


# R1 : A ====> B 

R1=Reaction('Reaction1')
R1.name='Reaction 1'
R1.lower_bound=0
R1.upper_bound=1000




# R2 : B =====> c 

R2=Reaction('Reaction2')
R2.name='Reaction 2'
R2.lower_bound=0
R2.upper_bound=1000



# Result : C =====>  

Result=Reaction('Result')
Result.name='Result'
Result.lower_bound=0
Result.upper_bound=1000




# R0 : =====> A 

R0=Reaction('Reaction0')
R0.name='Reaction 0'
R0.lower_bound=40
R0.upper_bound=40





# R3 : A =====> ATP 

R3=Reaction('Reaction3')
R3.name='Reaction 3'
R3.lower_bound=35
R3.upper_bound=35




# R4 : ATP =====>  

R4=Reaction('Reaction4')
R4.name='Reaction 4'
R4.lower_bound=0
R4.upper_bound=1000

In [55]:


##  ALL METABOLITES IN MODEL ##


A= Metabolite('A',compartment='c')

B=Metabolite('B',compartment='c')

C= Metabolite('C',compartment='c')

ATP= Metabolite('ATP',compartment='c')

In [56]:


## ADDING METABOLITES TO REACTIONS ##


R1.add_metabolites({A:-1,B:1})


R2.add_metabolites({B:-1,C:1})


R0.add_metabolites({A:1})


Result.add_metabolites({C:-1})


R3.add_metabolites({A:-1,ATP:1})


R4.add_metabolites({ATP:-1})

In [57]:

# ADD RAECTIONS TO THE MODEL #

model.add_reactions([R0,R1,R2,R3,R4,Result])

In [58]:


# Put Result AS A OBJECTIVE FUNCTION  #

model.objective = Result

In [59]:

# MODEL OBTIMIZATION #

model.optimize()

In [60]:

model.summary()